.features {
  @include desk {
    padding-bottom: 47px;
  }
}
.features__list {
  margin-bottom: -30px;
  @include tab {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
.features__item {
  width: 100%;
  margin-bottom: 30px;
  @include tab {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @include desk {
    width: calc(100% / 4 - 30px);
  }
}

.features__item:last-child {
  margin-right: 0;
}
.features__icon-area {
  display: flex;
  // width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
}

.features__after-title {
  margin-bottom: 10px;
  @include font(14px, null, 1.14, 0.03em);
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  text-align: center;

  text-transform: uppercase;
  color: var(--title-text-color);
  @include tab {
    text-align: left;
  }
}

.features__text {
  margin-bottom: 0;
  @include font(14px, null, 1.7, 0.03em);
  // font-size: 14px;
  // line-height: 1.7;
  // letter-spacing: 0.03em;
}
