.footer-all {
  text-align: center;
  @include tab {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  @include desk {
    flex-wrap: nowrap;
    text-align: start;
    justify-content: start;

    // justify-content: start;
  }
  // display: flex;
  // align-items: baseline;
}
.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.section-footer__logo {
  display: block;
  color: #ffffff;
  margin-bottom: 20px;
  @include font(24px, 700, 1.17, 0.03em);
  @include desk {
    @include font(26px, 700, 1.19, 0.03em);
  }
  // text-align: center;
}
.section-footer__addres {
  margin-bottom: 60px;
  @include desk {
    margin-bottom: 0;
  }
}

.section-footer__addres-fiz {
  display: block;

  margin-bottom: 8px;
  @include desk {
    margin-bottom: 9px;
  }
  font-style: normal;
  @include font(14px, null, 1.71, 0.03em);
  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
  color: var(--second-title-text);
  // transition-property: color;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @include tranzition-color;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.section-footer__mail {
  display: block;
  margin-bottom: 8px;
  @include desk {
    margin-bottom: 9px;
  }
  font-style: normal;
  @include font(14px, 400, 1.71, 0.03em);
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  // transition-property: color;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @include tranzition-color;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.section-footer__tel {
  font-style: normal;
  @include font(14px, null, 1.71, 0.03em);
  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  // transition-property: color;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @include tranzition-color;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-join {
  margin-bottom: 60px;
  @include desk {
    margin-bottom: 0;
    margin-left: 70px;
  }
}
.footer-join__text {
  margin-bottom: 20px;
  @include font(14px, 700, 1.14, 0.03em);
  // font-weight: bold;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-text);
}
.footer-join__list {
  display: flex;
  justify-content: center;
}
.footer-join__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-join__item:not(:last-child) {
  margin-right: 10px;
}
.footer-join__icon {
  fill: var(--btn-color);
}

// --------------Footer_subs------------
.footer-subscribe {
  text-align: center;
  @include desk {
    margin-left: auto;

    width: 570px;
  }
}

.footer-form__text {
  display: block;
  margin-bottom: 20px;
  @include desk {
    text-align: start;
  }
  @include font(14px, 700, 1.14, 0.03em);
  // font-weight: bold;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-text);
}
.footer-form__send {
  @include tab {
    width: 450px;
  }
  @include desk {
    display: flex;
    width: 100%;
  }
}
.footer-form__input {
  width: 100%;

  @include desk {
    width: 358px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  padding-left: 16px;

  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--second-title-text);
  background-color: #2f303a;
  &::placeholder {
    @include font(16px, null, 1.25, 0.03em);
    // font-size: 16px;
    // line-height: 1.25;
    // letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-subscribe__button {
  margin-top: 20px;
  padding-left: 29px;
  display: inline-flex;
  @include desk {
    margin-top: 0;
    display: flex;
    margin-left: 12px;
    padding-left: 29px;
  }

  background-color: var(--accent-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.button__plane {
  padding: 0;
  margin: 0;
  border: none;
  display: inline-block;
  fill: #ffffff;
  margin-left: 10px;
}
