.main-header {
  display: flex;
  align-items: center;
}
.section-header {
  border-bottom: 1px solid #ececec;
}
.header__logo {
  display: flex;
  margin-right: 93px;
  color: #000000;
  @include font(24px, 700, 1.17, 0.03em);
  @include desk {
    @include font(26px, 700, 1.19, 0.03em);
  }
}

.logo--accent {
  color: var(--accent-color);
}

.header-nav {
  display: flex;
  @include font(14px, 500, 1.14, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;
  align-items: center;
}

.header-list {
  display: none;
  @include tab {
    display: flex;
  }
  @include desk {
    display: flex;
  }
}
.header-list__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.header-list__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--header-text-color);
  // transition-property: color;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @include tranzition-color;
  &:hover,
  &:focus,
  .current {
    color: var(--accent-color);
  }
}

.current {
  position: relative;
}
.header-list__link.current::after {
  display: block;
  content: '';
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--accent-color);
  border-radius: 2px;
}

.auth-nav {
  display: none;
  @include tab {
    display: flex;
    flex-direction: column;
  }
  @include desk {
    display: flex;
    align-items: baseline;
    flex-direction: row;
  }
  margin-left: auto;

  @include font(14px, 500, 1.14, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

@media (min-width: 768px) and (max-width: 1199px) {
  .auth-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@include desk {
  .auth-nav__item + .auth-nav__item {
    margin-left: 50px;
  }
}

.auth-nav__link {
  display: flex;

  align-items: center;
  color: var(--primary-text-color);
  // transition-property: color;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @include tranzition-color;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.icon-envelope {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-smartphone {
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

// ------------------------------Mob menu-------------/

.menu-open-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  @include tab {
    display: none;
  }
  @include desk {
    display: none;
  }
}
.open-modal-icon:hover,
.close-modal-icon:hover {
  fill: var(--accent-color);
}
.container-mob {
  padding-left: 40px;
  padding-right: 40px;
}
.mob-menu {
  z-index: 999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #ffffff;
  top: 0;
  left: 0;
  overflow: auto;
  .container-mob {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.menu-close-btn {
  position: absolute;
  right: 15px;
  padding: 0;
  background-color: transparent;
  border: none;
  top: -38px;
  @include tab {
    display: none;
  }
  @include desk {
    display: none;
  }
}
.mob-menu-item,
.mob-contacts-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.mob-menu-link--accent {
  color: #2196f3;
}
.mob-contacts-item {
  margin-bottom: 64px;
}
.mob-contacts-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  color: #757575;
}
.mob-contacts-link--accent {
  @include font(34px, 500, 1.17, 0.02em);
  color: #2196f3;
}
.mob-social-list {
  display: flex;
  flex-wrap: wrap;
}
.mob-social-item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    margin-right: 10px;
  }
}
.mob-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  color: #2196f3;
}
