.section-hero {
  max-width: 1600px;
  // height: 600px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/dz8/hero-mob-1x.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/dz8/hero-mob-2x.jpg);
  }

  @include tab {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/dz8/hero-tab-1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/dz8/hero-tab-2x.jpg);
    }
  }
  @include desk {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/dz8/hero-desk-1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/dz8/hero-desk-2x.jpg);
    }
  }
}
.hero-description {
  margin: 0 auto;
  // width: 696px;
  max-width: 360px;
  @include desk {
    max-width: 696px;
  }
}
.section-hero__title {
  margin-bottom: 30px;
  color: var(--second-title-text);

  @include font(26px, 900, 1.62, 0.06em);
  // font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  // text-align: center;
  // letter-spacing: 0.06em;
  text-transform: uppercase;
  @include desk {
    @include font(44px, 900, 1.36, 0.06em);
  }
}
.button {
  min-width: 200px;
  height: 50px;
  border: none;
  @include font(16px, 700, 1.87, 0.06em);
  // font-weight: 700;
  // font-size: 16px;
  // line-height: 1.87;
  // letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  color: var(--btn-color);
}

.section-hero__button {
  display: inline-block;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    color: var(--btn-color);
  }
}
