:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --second-title-text: #ffffff;
  --accent-color: #2196f3;
  --primary-fone-color: #ffffff;
  --second-fone-color: #f5f4fa;
  --header-text-color: #212121;
  --btn-color: #fff;
}
